In [ ]:
names={"paridhi": 123456 ,"mansi": 789012}
type(names)

dict

In [ ]:
# to access data
print(names["mansi"])

# to change data
names["mansi"] = 456789
print(names)

789012
{'paridhi': 123456, 'mansi': 456789}

In [ ]:
# to insert new value
names["riddhi"] = 234567
print(names)

{'paridhi': 123456, 'mansi': 456789, 'riddhi': 234567}

In [ ]:
#  to update
names.update({'siddhi' : 789654})
names

{'paridhi': 123456, 'mansi': 456789, 'riddhi': 234567, 'siddhi': 789654}

In [ ]:
# to delete  data
a = names.pop("mansi")          # a will have mobile num of mansi
print(names)
print("a :",a)

{'paridhi': 123456, 'riddhi': 234567}
a : 456789

In [ ]:
names.items()

dict_items([('paridhi', 123456), ('mansi', 456789), ('riddhi', 234567)])

In [ ]:
names.keys()
names.values()

dict_values([123456, 234567])

In [ ]:
for keys , values in names.items():
  print("key :", keys)
  print("values :",values)

key : paridhi
values : 123456
key : mansi
values : 456789
key : riddhi
values : 234567

In [ ]:
d = {"a" : 1000 ,"b":9000}
d["a"] + 8000

9000

In [ ]:
d = {"a" : 1000 ,"b":9000}
d["a"] + 8000
print(d)

{'a': 1000, 'b': 9000}

In [ ]:
d = {"a" : 1000 ,"b":9000}
"a" in d
"c"  not in d

True

In [ ]:
print(d["a"])

1000

In [ ]:
# 1 to 87 get even num increase total by one
d={'total': 0}
for i in range(1,88):
  if(i % 2 == 0 ):
    d['total']=d['total']+1
print(d)

{'total': 43}

In [ ]:
# check how many times a num occur in list then add it to dict
l=[10,20,30,10,40,50]
d={}
count = 1
for i in range(0,len(l)):
  if(l[i] not in d):
    d[l[i]] = count
  elif(l[i] in d):
    d[l[i]] = count + 1
print(d)

{10: 2, 20: 1, 30: 1, 40: 1, 50: 1}

In [ ]:
# Write a program to count the frequency of each character in a string and store it in a dictionary.
s = "paridhi"
d={}
for i in range(len(s)):
  if(s[i] not in d):
    d[s[i]] = 1
  else:
    d[s[i]] = d[s[i]] + 1
print(d)

{'p': 1, 'a': 1, 'r': 1, 'i': 2, 'd': 1, 'h': 1}

In [ ]:
# Write a program to count the frequency of each character in a string and store it in a dictionary.
s="aeibujiaa"
d={}
for i in s:
  if(i in "aeiuo"):
      if(i not in d):
        d[i] = 1
      else:
        d[i]=d[i] + 1
print(d)

{'a': 3, 'e': 1, 'i': 2, 'u': 1}

In [ ]:
# Given a list of words, create a dictionary where the key is the word, and the value is the count of how many times it appears.
words = [
    "apple", "banana", "apple", "orange", "banana",
    "kiwi", "apple", "mango", "kiwi", "grape",
    "banana", "pear", "mango", "apple", "grape",
    "apple", "banana", "banana", "mango", "kiwi"
]

d = {}
for i in range(len(words)):
  if(words[i] not in d):
    d[words[i]] = 1
  else:
    d[words[i]] = d[words[i]] + 1
print(d)

{'apple': 5, 'banana': 5, 'orange': 1, 'kiwi': 3, 'mango': 3, 'grape': 2, 'pear': 1}

In [ ]:
# From a sentence, create a dictionary with words as keys and their lengths as values.
sen = "Learning Python dictionaries is fun and very powerful"
l =[]
l = sen.split()
d ={}
for i in range(len(l)):
  length = 0
  word = l[i]

  for j in word :
    length += 1

  if(l[i] not in d):
    d[l[i]] = length
print(d)

{'Learning': 8, 'Python': 6, 'dictionaries': 12, 'is': 2, 'fun': 3, 'and': 3, 'very': 4, 'powerful': 8}

In [ ]:
#dict (2 sum problem )
a = [3,5,7,11,16,27]
target = 21
d = {}

for i in range(0,len(a)):
  data = a[i]
  if(data not in d):
    d[data] = i


print(d)
for x in d:
   val = d[x]
   if(target - x in d ):
    print("we found the value : ",target - x , d[target - x])

{3: 0, 5: 1, 7: 2, 11: 3, 16: 4, 27: 5}
we found the value :  16 4
we found the value :  5 1

In [ ]:
# Merge two dictionaries and sum the values of common keys

d1 = {'a': 100, 'c': 300 ,'b': 200}
d2 = {'a': 300, 'b': 200, 'd': 400}
d = {}
for i in d1:
  for j in d2 :
    if(i == j):
      d[i] = d1[i] +d2[j]
    elif((i not in d) and (i not in d2)):
      d[i] = d1[i]
    elif((j not in d)and (j not in d1)):
      d[j] = d2[j]
print(d)

{'a': 400, 'd': 400, 'c': 300, 'b': 400}

In [ ]:
# Write a program to remove keys with duplicate values from a dictionary
d = {'a': 10,'b': 20,'c': 10,'d': 30,'e': 20,'f': 40}
count ={}
for i in d.values():
  if i not in count :
    count[i] = 1
  elif i in count :
    count[i] = count[i] + 1
print(count)
# to store unique items only
d1 = {}
for key , val in d.items():
  if count[val] == 1:
    d1[key] = val
print(d1)

{10: 2, 20: 2, 30: 1, 40: 1}
{'d': 30, 'f': 40}

In [ ]:
# Sort a dictionary by its values in ascending order.
scores = {'Alice': 88,'Bob': 72,'Charlie': 95,'David': 68,'Eva': 88,'Frank': 91}
l = list(scores.values())

for i in range(len(l)):
    for j in range(i+1,len(l)):

      if (l[i] > l[j]):
        n = l[j]
        l[j] = l[i]
        l[i] = n

ascending  = {}
for i in range(len(l)):
  for key , value in scores.items():
    if(value == l[i]):
        ascending[key] = value

print(ascending)

{'David': 68, 'Bob': 72, 'Alice': 88, 'Eva': 88, 'Frank': 91, 'Charlie': 95}

In [ ]:
# Sort a dictionary by its values in descending order.
scores = {'Alice': 88,'Bob': 72,'Charlie': 95,'David': 68,'Eva': 88,'Frank': 91}
l = list(scores.values())

for i in range(len(l)):
    for j in range(i+1,len(l)):

      if (l[i] < l[j]):
        n = l[j]
        l[j] = l[i]
        l[i] = n

descending  = {}
for i in range(len(l)):
  for key , value in scores.items():
    if(value == l[i] and key not in descending):
        descending[key] = value

print(descending)

{'Charlie': 95, 'Frank': 91, 'Alice': 88, 'Eva': 88, 'Bob': 72, 'David': 68}

In [ ]:
# Filter out key-value pairs where the value is less than a given number (e.g., remove all items with value < 10)
filtered = {}
for key, value in data.items():
    if value >= 10:
        filtered[key] = value

print(filtered)

{'notebook': 15, 'marker': 12, 'bag': 45, 'scale': 10}

In [ ]:
# Write a program to find the key(s) with the maximum and minimum value in a dictionary.
scores = {'Math': 78,'Science': 92,'English': 85,'History': 69,'Geography': 92,'Computer': 88,'Art': 69}

MaxMin = {}
l = list(scores.values())
minimum = l[0]
maximum = l[0]
for i in range(len(l)):
    if (minimum > l[i]):
      minimum = l[i]
    if(maximum < l[i]):
      maximum = l[i]

for key , value in scores.items():
    if(minimum == value):
      MaxMin[key] = value
    if(maximum == value):
      MaxMin[key] = value
print(MaxMin)

{'Science': 92, 'History': 69, 'Geography': 92, 'Art': 69}

In [ ]:
# NESTED DICTIONARY
d = { 'paridhi' :{'maths':93,'science':89},
     'snehal' :{'maths':95,'science':87}}
print(d)

{'paridhi': {'maths': 93, 'science': 89}, 'snehal': {'maths': 95, 'science': 87}}

In [ ]:
# NESTED DICTIONARY
names = ['paridhi','snehal']
marks = [
    {'maths':93,'science':89},
    {'maths':95,'science':87}
]
d ={}
for i in range(len(names)):
  d[names[i]] = marks[i]
print(d)

{'paridhi': {'maths': 93, 'science': 89}, 'snehal': {'maths': 95, 'science': 87}}

In [ ]:
# NESTED DICTIONARY
names = ['paridhi','snehal']
subject = ['maths','science']
marks = [[93,89],[95,87]]

d ={}

for i in range(len(names)):
  inner_d ={}
  for j in range(len(subject)):
    inner_d[subject[j]] = marks[i][j]
  d[names[i]] = inner_d

print(d)

{'paridhi': {'maths': 93, 'science': 89}, 'snehal': {'maths': 95, 'science': 87}}

In [ ]:
students = {
    "Paridhi": {"Maths": 93, "Science": 89, "English": 91},
    "Snehal": {"Maths": 95, "Science": 87, "English": 90},
    "Aman": {"Maths": 88, "Science": 92, "English": 85} }

for key , val in students.items() :
  print('value:',val)
  for key1 , val1 in val.items():
    print("val1:",val1)

value: {'Maths': 93, 'Science': 89, 'English': 91}
val1: 93
val1: 89
val1: 91
value: {'Maths': 95, 'Science': 87, 'English': 90}
val1: 95
val1: 87
val1: 90
value: {'Maths': 88, 'Science': 92, 'English': 85}
val1: 88
val1: 92
val1: 85

In [ ]:
# Given a nested dictionary of students and their marks, find the student with the highest average marks
students = {
    "Paridhi": {"Maths": 93, "Science": 89, "English": 91},
    "Snehal": {"Maths": 95, "Science": 87, "English": 90},
    "Aman": {"Maths": 88, "Science": 92, "English": 85} }
max_avg = 0
total_marks = 0
num_of_subject = 0
for key , value in students.items():

  for inner_key , inner_value in value.items():
    total_marks += inner_value
    num_of_subject += 1
  if max_avg < (total_marks/num_of_subject):
    max_avg = (total_marks/num_of_subject)
print('maximum average  marks:',max_avg)

maximum average  marks: 91.0