#CONDITIONAL STATEMENT

In [1]:

a=20
if(a>5):
  print("hello")
else:
  print("condition is false")

hello

In [2]:
n=11
if( n%2 ==0  ):
  print("Even")
else:
  print("odd")

odd

In [3]:
n=3
if(n>2 and n>4):
  print("greater than 2 and 4")
else:
  print("not greater than both")

not greater than both

In [4]:
# take a number check it if the number is even and not divisible by 6
# then print "even not divide by 6"
# otherwise print number is odd


x=int( input("Enter number:") )
if(x%2==0  and x%6!=0):
  print("even but not divied by 6")
else:
  print("odd number")

Enter number:23
odd number

In [5]:
#ELIF
x=34
if(x==2):
  print("number is 2")
elif(x==3):
  print("number is 3")
else:
  print("number is not 2 or 3")

number is not 2 or 3

In [6]:
# print according to the age
age=20

if(age>35):
  print("mature")
elif(age>25):
  print("young")
elif(age>18):
  print("adult")
else:
  print("child")

adult

In [7]:
# if the number is even and 6 TO   equal  => number is even and equal to 6
num=8
if(num%2==0 and num==6):
  print("number is even and equal to 6")
elif(num%2==0):
  print("number is just even")
else:
  print("number is odd")

number is just even

In [8]:
num=9
if(num%3==0 and num%2==0):
  print("Divisible by 3 & 2 both")

elif(num%3==0):
  print("Divisible by 3")
else:
  print("not divisible by 3")

Divisible by 3

In [9]:
#even and odd
num =int(input("enter a num :"))
if (num % 2 == 0):
    print("even number")
else:
    print("odd number")

enter a num :12
even number

In [10]:
#greatest among three numbers
#method 1
num1=int(input("enter a num1 :"))
num2=int(input("enter a num2 :"))
num3=int(input("enter a num3 :"))

if(num1 > num2 and num1 > num3):
    print("the largest num among three is :",num1)
elif(num2 > num1 and num2 > num3):
    print("the largest num among three is :",num2)
else:
    print("the largest num among three is :",num3)

enter a num1 :34
enter a num2 :23
enter a num3 :56
the largest num among three is : 56

In [11]:
#method 2
num1=int(input("enter a num1 :"))
num2=int(input("enter a num2 :"))
num3=int(input("enter a num3 :"))
if(num1 > num2):
    if(num1 > num3):
        print("the largest num among three is :",num1)
    else:
        print("the largest num among three is :",num3)
elif(num2 > num3):
    print("the largest num among three is :",num2)
else:
    print(" the largest num among three is :",num3)

enter a num1 :21
enter a num2 :34
enter a num3 :56
 the largest num among three is : 56

In [12]:
#if a given year is a leap year. A leap year is divisible by 4 but not by 100 unless it is also divisible by 400.
year = int(input("enter a yaer :"))

if(year % 4 == 0 and year % 100 != 0 and year % 400 ==0 ):
    print("the entered year is a leap year",year)
else:
    print("the entered year is not a leap year")

enter a yaer :87
the entered year is not a leap year

In [13]:
#takes a percentage (integer) as input and prints the corresponding grade
per=int(input("enter percentage :"))
if(per >= 90):
    print("garde A")
elif(per >= 80):
    print("grade B")
elif(per >= 70):
    print("grade C")
elif(per >= 60):
    print("grade D")
else:
    print("grade F")

enter percentage :54
grade F

In [14]:
#consonant or vowel
ch = input("enter an alphabet :")
if(ch in "aeiou"):
    print("vowel")
else:
    print("consonant")

enter an alphabet :23
consonant

In [25]:
#takes two numbers and an operator (+, -, *, /) as input and performs the specified operation.
num1 = int(input("enter num1 :"))
num2 = int(input("enter num2 :"))
operator =input("enter an operator (+, -, *, /)  :")

if(operator ==  "+"):
    print("addition :",num1 + num2)
elif(operator ==  "-"):
    print("subtraction :",num1-num2)
elif(operator ==  "*"):
    print("multiplication :",num1*num2)
elif(operator ==  "/"):
    print("division  :",num1/num2)

enter num1 :12
enter num2 :23
enter an operator (+, -, *, /)  :/
division  : 0.5217391304347826

In [26]:
#takes a number as input and checks whether it is positive, negative, or zero
num = int(input("enter num :"))
if(num > 0):
    print("positive")
elif(num < 0):
    print("negative")
else:
    print("equal to zero")

enter num :0
equal to zero

In [17]:
#username and password entered by the user match the pre-set values username = "admin" and password = "1234"

username = input("enter usersame :")
password = input("enter password :")
if ( username == "admin" and password == "1234"):
  print("Login Successful")
else :
  print("login failed")

enter usersame :admin
enter password :0987
login failed

In [18]:
#A triangle is valid if the sum of any two sides is greater than the third side

s1=int(input("enter s1 :"))
s2=int(input("enter s2 :"))
s3=int(input("enter s3 :"))
if(s1+s2 > s3 and s1+s3 > s2 and s2+s3 > s1):
  print("the triangle is valid")
else:
  print("the triangle is not valid")

enter s1 :76
enter s2 :90
enter s3 :6
the triangle is not valid

In [19]:
#WAP that calculates the Body Mass Index (BMI)
h=float(input("enter height:"))
height = h * 0.3048
weight=float(input("enter weight(in kg) :"))
bmi= weight / (height ** 2)

if(bmi < 18.5):
  print("underweight")
elif(18.5 <= bmi < 24.9):
  print("normal weight")
elif(25 <= bmi < 29.9):
  print("over weight")
else:
  print("obesity")

enter height:5.2
enter weight(in kg) :60
normal weight

In [20]:
'''WAP that calculates the discount for a product based on its price:
If price > 1000 , discount is 10%
If price is between 500 and 1000, discount is 5%
Otherwise, no discount
Print the final price after applying the discount.
'''

price=float(input("enter price :"))
if(price > 1000):
  print("the final price : ",price - (price * 0.1))
elif( 1000 >= price > 500):
  print("the final price :", price - (price * .05))
else:
  print("no discount ,",price )

enter price :900
the final price : 855.0

In [21]:
#takes the name of a month as input and prints the number of days in that month. Consider leap years for February.

month=input("enter month :")
if(month in "Januarymarchmayjulyaugustoctoberdecember"):
  print(f"{month} has 31 days")
elif(month in "February"):
  print(f"{month} has 29 days")
else:
  print(f"{month} has 30 days")

enter month :june
june has 30 days

In [22]:
#WAP that simulates a simple ATM.
balance = 10000
choice= int(input("enter a choice(1-3) :"))

if(choice == 1):
  print("your current balance is :",balance )

elif(choice == 2):
  deposit=int(input("enter the amt to be deposited :"))
  if(deposit > 0):
    print("deposit successfully")
    balance+= deposit
    print("your balance after deposit is :", balance )
elif(choice == 3) :
  withdraw=int(input("enter the amt to be withdrawn"))
  if(withdraw > balance):
    print("insufficient fund")
  else:
    balance-=withdraw
    print("your balance after withdraw is :", balance)
else:
  print("enter a valid choice")

enter a choice(1-3) :3
enter the amt to be withdrawn5000
your balance after withdraw is : 5000

In [23]:
#WAP that categorizes a given age into different groups
age=int(input("enter age :"))
if( 1>= age >= 0):
  print("infant")

elif(4 >= age >= 2):
  print("toddler")

elif(12 >= age >= 5):
  print("child")

elif(19 >= age >= 13):
  print("teenager")

elif(59 >= age >= 20):
  print("adult")

else :
  print("senior")

enter age :19
teenager

In [24]:
#WAP that takes an integer (1-7) as input and prints the corresponding day of the week (1 for Monday, 2 for Tuesday, etc.).
day=int(input("enter a num(1-7):"))
if(day == 1):
  print("monday")

elif(day == 2):
  print("tuesday")

elif(day == 3):
  print("wednesday")

elif(day == 4):
  print("thursday")

elif(day == 5):
  print("friday")

elif(day == 6):
   print("saturday")

elif(day == 7):
   print("sunday")

else:
   print("enter a valid num ")

enter a num(1-7):7
sunday