In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    mylist = [10,20,"paridhi"]
print(type(mylist))
print(mylist[0],mylist[1],mylist[-1])

<class 'list'>
10 20 paridhi

In [ ]:
# to update
mylist = [10,20,"paridhi"]
mylist[0] = 99
print(mylist)

mylist[0:2]=[6,7]  # if we want to update more then one value together
print("after update :",mylist)

[99, 20, 'paridhi']
after update : [6, 7, 'paridhi']

In [ ]:
mylist = [10,20,"paridhi"]
mylist[0] = 99  #update

mylist.append(50)  #insert at last but one value only

mylist.extend("isha")  #iterable values
print(mylist)

[99, 20, 'paridhi', 50, 'i', 's', 'h', 'a']

In [ ]:
mylist = [10,20,"paridhi",99,3,4]
print(mylist)
x = mylist.pop()  #delete and return value in the variable
print(mylist,x)

[10, 20, 'paridhi', 99, 3, 4]
[10, 20, 'paridhi', 99, 3] 4

In [ ]:
#TO DELETE
l =[10,20,3,4,20,60]
l.remove(20)                # it remove the first occurrence of the element
print(l)

#USING DEL
del l[1]                     #delete the element from the index position
print(l)

[10, 3, 4, 20, 60]
[10, 4, 20, 60]

In [ ]:
li = [1,4,6,5,3,6,8]
li.reverse()
print(li)
print(li.count(6))

li.sort() #sort in ascending order
print(li)

[8, 6, 3, 5, 6, 4, 1]
2
[1, 3, 4, 5, 6, 6, 8]

In [ ]:
li=[45,22,443,65,87]
for i in range(0,len(li)):  #(0,5)
  curr = li[i]
  print(i,curr)  # i = index ,curr = current index element

0 45
1 22
2 443
3 65
4 87

In [ ]:
# add all number into a newlist which are greater then 65
li=[45,22,443,65,87]
newlist=[]
for i in range(0,len(li)):
  curr=li[i]
  if(curr > 65):
    newlist.append(curr)
print(newlist)

[443, 87]

In [ ]:
# add prime number from the list to a new list
li = [23,12,34,56,13,5]
newlist =[]
for i in range(len(li)):
  count = 0
  num  = 1
  while(num <= li[i]):
    if(li[i] % num == 0 ):
      count += 1
    num+=1
  if(count == 2):
    newlist.append(li[i])
print(newlist)

[23, 13, 5]

In [ ]:
# add all the not armstrong numbers into the newlist
li = [102,371,64]
newlist=[]
for i in range(len(li)):
  power = 0
  sum = 0
  n = li[i]
  while(n != 0):

    ld = n % 10
    power = ld ** 3
    sum += power
    n//= 10
  if(sum != li[i] ):
    print(" not armstrong num",li[i])
    newlist.append(li[i])
print(newlist)

 not armstrong num 102
 not armstrong num 64
[102, 64]

In [ ]:
# max element from list
li = [102,163,153,1]
max_num = li[0]
for i in range(len(li)):

  if(max_num < li[i]):
    max_num =li[i]
print(max_num)

163

In [ ]:
# to rotate a list
li = [23,43,54,2,65,1,5]
start = 0
end =len(li)-1

while(start < len(li)//2):

  a = li[start]           # temporary variable
  li[start] = li[end]     # index 0 with last value
  li[end] = a             #last index with first value
  start += 1
  end -= 1
print(li)

[5, 1, 65, 2, 54, 43, 23]

In [ ]:
# check if the starting and ending value in a list is even
# if even print true else false
#then check the 2nd and 2nd last value
l=[10,14,15,16,30,18,22]

start = 0
end = len(l)-1

while(start <= len(l)//2):
  print(start , end)
  if(l[start] % 2 == 0 and l[end] % 2 == 0):
    print("true")
  else:
    print("false")
  start += 1
  end -= 1

0 6
true
1 5
true
2 4
false
3 3
true

In [ ]:
#you have to get two num from the list which will create a target 21
#method 1
l= [2,3,5,8,11,16,20]
start = 0
target = 21
next = 1
while(start < len(l)):
  for i in range(next ,len(l)):
    if(l[start] + l[i] == target):
      print(l[start],l[i])
  start += 1
  next +=1

5 16

In [ ]:
# method 2
l= [2,3,5,8,11,16,20]

for i in range(0,len(l)):
  curr = l[i]           #fixed position
  j = i + 1

  for k in range(j ,len(l)):             #running loop from next value from fixed
    next = l[k]
    if(curr + next == 21):               #fixed + next == target
      print(curr , next)

5 16

In [ ]:
# buy shares and sell it on incoming days of the week to make the maximum profit
# incase of no profit return 0

p=[7,1,5,3,6,4]
profit = 0
for i in range(0,len(p)):
  for j in range(i+1,len(p)):
     if(p[j] - p[i] > profit):
      profit = p[j] -p[i]

if(profit > 0 ):
  print(profit)
else:
  print("0")

5

In [ ]:
s="hey i am here hey i how are you"
duplicate=[]
unique=[]
# "i am here how are you"
newlist=s.split()
print(newlist)


for i in range(0, len(newlist) ):
  currWord=newlist[i]

  for j in range(i+1, len(newlist)):
    nextWord=newlist[j]
    if(currWord == nextWord):
      duplicate.append(currWord)


    elif(  nextWord not in unique and nextWord not in duplicate):
      unique.append(nextWord)

print("unique", unique)

['hey', 'i', 'am', 'here', 'hey', 'i', 'how', 'are', 'you']
unique ['i', 'am', 'here', 'how', 'are', 'you']

In [ ]:
#TUPLE and IT'S FUNCTION
mytuple= (10,20,30,40,10,20,60)
mytuple[0]
mytuple.count(20)
mytuple.index(60)
mytuple.

6

In [ ]:
# max element from list
li =[10, 20, 4, 45, 3]
max_num = li[0]
for i in range(len(li)):
  if(max_num < li[i]):
    max_num =li[i]
print(max_num)

45

In [ ]:
#sum of all elements of the list
n = [10, 20, 30, 40]
sum = 0
for i in range(0,len(n)):
  sum += n[i]
print(sum)

100

In [ ]:
#reverse the list
#method 1 using append
l= [1, 2, 3, 4, 5]
rv =[]
for i in range(len(l)-1,-1,-1):
  rv.append(l[i])
print(rv)

[5, 4, 3, 2, 1]

In [ ]:
#method 2
l= [1, 2, 3, 4, 5,6]
start = 0
end = len(l)-1
while(start < len(l)//2):
  a = l[start]
  l[start] = l[end]
  l[end] = a

  end -= 1
  start += 1
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
#sort a list in ascending order without sort functions
l=[10,20,4,99,45]

for i in range(len(l)):
  min_num =l[i]

  for j in range(i+1,len(l)):
    if(min_num > l[j]):
      a = l[i]
      l[i] = l[j]
      l[j] = a

print(l)

[4, 10, 20, 45, 99]

In [ ]:
#to remove duplicates from a list while maintaining the order of elements
n = [1, 2, 2, 3, 4, 4, 5]
unique = []
for i in range(len(n)):
  if(n[i] not in unique):
    unique.append(n[i])
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
n = [1, 2, 3, 4, 3, 5, 6]
target = 6

for i in range(len(n)):

  for j in range(i+1,len(n)):
    if(n[i] + n[j] == target ):
      print((n[i] , n[j]))

(1, 5)
(2, 4)
(3, 3)

In [ ]:
#faltten the list
li = [1, [2, 3], [4, [5, 6], 7], 8]
newlist =[]

for i in range(len(li)):
  if(type(li[i]) == list ):
    for j in range(len(li[i])):
      if(type(li[i][j]) == list):
        for k in range(len(li[i][j])):
          newlist.append(li[i][j][k])
      else:
        newlist.append(li[i][j])
  else:
    newlist.append(li[i])

print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# find the sum of the elements in a list, excluding the largest
# and smallest element. Donâ€™t use max or min functions

n = [3, 2, 5, 4, 1]

sum = 0

max_num = n[0]
min_num = n[0]
for i in range(len(n)):
  if(max_num < n[i]):
    max_num = n[i]
  elif(min_num > n[i]):
    min_num = n[i]

for i in range(len(n)):
  if(n[i] != min_num and n[i] != max_num ):
    sum += n[i]
print(sum)

9

In [ ]:
# to check if the list is palindrome or not

n = [1, 2, 3, 2, 1]

start = 0
end = len(n) - 1
a  = 0
while(start < len(n)//2):
  if(n[start ] != n[end ]):
    a = 1
    break

  start += 1
  end -= 1

if(a == 1):
  print("not palindrome")
else:
  print("palindrome")

palindrome

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
result =[]

for i in range(0,len(list1)):

  for j in range(0,len(list2)):

    if(list1[i] == list2[j]):
      result.append(list1[i])
print(result)

[3, 4, 5]

In [ ]:
#longest word in the list

words = ["apple", "banana", "strawberry", "kiwi"]
longest = words[0]

for word in words:
  count = 0
  for ch in word:
    count += 1

  max_length = 0
  for char in longest:
    max_length +=1
  if(max_length < count ):
    longest = word
print(longest)

strawberry

In [ ]:
#using len fun
words = ["apple", "banana", "strawberry", "kiwi"]
longest = words[0]
for i in range(len(words)):
  if(len(longest) < len(words[i])):
    longest = words[i]
print(longest)

strawberry

In [ ]:
num = [1, 2, 4, 5, 6]
for i in range(1,7):

  for j in range(len(num)):
    if(i == num[j]):
      break
  else:
    print("missing value is :",i)

missing value is : 3

In [ ]:
#list comprehension

[i for i in range(3,7)]

[3, 4, 5, 6]

In [ ]:
#[[1],[2],[3],[4]]

newlist=[]

for i in range(1,5):
  temp =[]
  temp.append(i)
  newlist.append(temp)
print(newlist)

[[1], [2], [3], [4]]

In [2]:
l = []
a = 0
b = 1

for i in range(0,4):
  temp = []
  temp.append(b)
  c = a + b
  l.append(temp)
  a = b
  b = c
print(l)

[[1], [1], [2], [3]]

In [ ]:
#descending order
l = [25,34,15,6,55]

for i in range(0,len(l)):
  max_num = l[i]

  for j in range(i+1,len(l)):

    if(max_num < l[j]):
      num = l[i]
      l[i] = l[j]
      l[j] = num

print(l)

[55, 34, 25, 15, 6]