In [ ]:
for i in range(2,7,3):
  print(i)

print("paridhi")

2
5
paridhi

In [ ]:
#get num from range 3 to 18 (divisible by 2 and 4)
for i in range(3,19):
  if(i % 2 == 0 and i % 4 == 0):
    print(i)

4
8
12
16

In [ ]:
#get num from range 80 to 16 (odd and divisible by 3)
for i in range(80,16,-1):
  if(i % 2 != 0 and i % 3 == 0):
    print(i)

75
69
63
57
51
45
39
33
27
21

In [ ]:
# sum of num 1 to 6
sum = 0
for i in range(1,7):
  sum += i
print(sum)

21

In [ ]:
#count
count = 0
for i in range(80,18,-1):
  count +=1
print(count)

62

In [ ]:
#3-37 and get the total of all the odd num
total = 0
for i in range(3,38):
  if(i % 2 != 0):
    total +=i
print(total)

360

In [ ]:
# 90 - 7 count num (either div by 5 or 7)
count = 0
for i in range(90,6,-1):
  if(i % 5 == 0 or i % 7 == 0):
    count +=1
print(count)

27

In [ ]:
#method 1
data = "paridhi"
for i in range(0,7):
  print(i,data[i])  # i is index, data[i] is character based on index


#method 2

for i in data:
  print(i)

0 p
1 a
2 r
3 i
4 d
5 h
6 i
p
a
r
i
d
h
i

In [ ]:
# count num div by 2 and 3 1-60
count = 0
for i in range(1,61):
  if(i % 2 == 0 and i % 3 == 0):
    count +=1
print("count :",count)

count : 10

In [ ]:
 # print hii in case if there are atleast 3 num which are div by 3 , 5 and 7 form 150 to 1
 count = 0
 for i in range(150,1,-1):
  if(i % 3== 0 and i % 5 ==0 and i % 7 == 0):
    count +=1
if(count >= 3):
  print("hii")
else:
  print("hello")

hello

In [ ]:
#factorial
fact = 1
for i in range(1,7):
  fact *= i
print("factorial :", fact)

factorial : 720

In [ ]:
#print those num from 1 to 80 which are div by 3 or 5 but not by both of them
#method 1
for i in range (1,80):
  if(i % 3==0 or i%5==0):
    if(i % 3==0 and i%5!=0):
      print(i)
    elif(i % 5 == 0 and i % 3 != 0):
      print(i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78

In [ ]:
#method 2
for i in range(1,80):
  if((i%3 == 0 or i%5 == 0) and (i%3 != 0 or i%5 !=0)):
    print(i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78

In [ ]:
# print from n to 1
n = int(input("enter n :"))
for n in range(n,0,-1):
  print(n)

enter n :5
5
4
3
2
1

In [ ]:
#Q a to z
abc="abcdefghijklmnopqrstuvwxyz"
for i in range(0,26):
  print(abc[i])

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
# even num from 1 to 100
for i in range(1,101):
  if(i % 2 == 0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# sum of all odd number from 1 to n
n=int(input("enter a num :"))
sum = 0
for i in range (1,n+1):
  if(i % 2 != 0):
    sum += i
print("sum of all odd numbers :", sum )

enter a num :5
sum of all odd numbers : 9

In [ ]:
#count number of digits in a number
n=int(input("enter a num :"))
count = 0
for i in range (1,n+1):
  if(n != 0):
    n//=10
    count +=1
print(count)

enter a num :12345
5

In [ ]:
# sum of digits
sum =0
n= int(input("enter a num :"))
for i in range(1,n+1):
  if(n != 0):
    s = n % 10
    sum += s
    n //= 10
print("sum of digits :",sum )

enter a num :456
sum of digits : 15

In [ ]:
# ascii A -Z 65 -90
#a-z 97 -122
ord("p")

112

In [ ]:
for i in range (65,91):
  print(i,chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [ ]:
chr(114)

'r'

In [ ]:
ord("p")

112

In [ ]:
#WHILE LOOP
i = 1
while(i < 10):
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9

In [ ]:
# sum of 10 num
sum =0
a = 1
while(a <= 10):
  sum += a
  a +=1
print(sum)

55

In [ ]:
#count total num which are even from 79 to 63
count = 0
a = 63
while(a <= 79):
  if(a % 2 == 0):
    count += 1
  a += 1

print(count)

8

In [ ]:
# to print 5 num which are div by 2 and 3
count = 0
a = 1
while(count < 5):
  if(a % 2 == 0 and a % 3 == 0):
    print(a)
    count += 1
  a += 1

6
12
18
24
30

In [ ]:
# prime num
i =int (input("enter a num :"))
a = 1
count = 0
while( i >= a):
  if(i % a == 0):
    count += 1
  a += 1

if(count > 2):
  print("not prime ")
else :
  print("prime")

enter a num :12
not prime

In [ ]:
#BREAK
for i in range(1,6):
  if(i == 4):
    break
  print(i)
print("hello")

1
2
3
hello

In [ ]:
#CONTINUE
for i in range(1,6):
  if(i == 4):
    continue
  print(i)
print("hello")

1
2
3
5
hello

In [ ]:
# break use - prime num
i =int (input("enter a num :"))
a = 2
count = 0
while( i >= a ):
  if(i % a == 0):
    count += 1
    if(count > 2):
      break
  else:
    a += 1

if(count > 2):
  print

enter a num :12
not prime

In [ ]:
# indicator variable in break
num = 12
i = 2
dec = 0
while(i < num ):
  if(num % i == 0):
    dec = 1
    break
  i += 1

if(dec == 1):
  print("loop break hence not prime ")
else:
  print("prime")

loop break hence not prime

In [ ]:
i = 678
while(i != 0):
  n = i % 10
  print(n)
  i //= 10

8
7
6

In [ ]:
#WHILE LOOP
# print num from 1 to n
i=1
n=int(input("enter a num :"))
while(i <= n):
  print(i)
  i+=1

enter a num :5
1
2
3
4
5

In [ ]:
# print number from n to 1
n=int(input("enter a num :"))
while(n >= 1):
  print(n)
  n -= 1

enter a num :5
5
4
3
2
1

In [ ]:
# a to z
i = 97
while(i <= 122):
  print(chr(i))
  i +=1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
#even num from 1 to 100
i = 1
while(i <= 100):
  if(i % 2 == 0):
    print(i)
  i +=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# sum of all odd num from 1 to n
i = 1
sum = 0
n=int(input("enter a num :"))
while(i <= n):
  if(i % 2 != 0):
    sum += i
  i += 1
print("sum of all odd num :",sum )

enter a num :5
sum of all odd num : 9

In [ ]:
# count the number of digits in a num
count = 0
n=int(input("enter a num :"))
while(n != 0):
  n //= 10
  count +=1
print("num of digits :",count)

enter a num :456
num of digits : 3

In [ ]:
# sum of digits of the number
sum = 0
n=int(input("enter a num :"))
while(n != 0):
  i = n % 10
  sum += i
  n //=10
print("sum of digits of a num :",sum)

enter a num :123456
sum of digits of a num : 21

In [ ]:
# extract the first and last digit of a num and print thier sum
n=int(input("enter a num :"))
count = 0
i = n
p = 1

while(i != 0):
  i //= 10
  count += 1

while(count > 1):
  p*=10
  count -= 1

print("first digit of the num is :", n//p)
print("last digit of the num is :", n % 10)
print("sum of first and last digit :", (n //p)+(n % 10))

enter a num :599
first digit of the num is : 5
last digit of the num is : 9
sum of first and last digit : 14

In [ ]:
# reverse a num
n=int(input("enter a num :"))
i = n
count = 0
rev = 0
p = 1

while( i != 0):
  i //=10
  count += 1

while(n != 0):
  a = n % 10
  p = 10 **(count - 1)
  ld= a * p
  rev += ld

  count -= 1
  n //= 10

print("reversed num :",rev)

enter a num :915
reversed num : 519

In [ ]:
#armstrong num
sum = 0
n=int(input("enter a num :"))
i = n
while(i != 0):
  n1 = i % 10
  p = n1 ** 3
  sum += p
  i //= 10
if(sum == n):
  print("it is a armstrong num :",n)
else:
  print("not a Armstrong num ")

enter a num :371
it is a armstrong num : 371

In [ ]:
#strong
sum = 0

n = int(input("enter a num :"))
i = n
while(i != 0):
  r = i % 10
  fact = 1
  while(r != 0):
    fact *= r
    r -= 1

  sum += fact
  i//= 10

if(sum == n):
  print("it is a strong num :",n)
else:
  print("not a strong num ")

enter a num :145
it is a strong num : 145

In [ ]:
#str in while loop
s="abcd"
i = 0
while(i < 4):
  print(i ,s[i])
  i += 1


s="abcdeuheu"
i = 0
while(i < len(s)):
  print(s[i])
  i += 1

0 a
1 b
2 c
3 d
a
b
c
d
e
u
h
e
u

In [ ]:
#reverse
s="abcdeuheu"
i = len(s) - 1
while(i >= 0):
  print(s[i])
  i -= 1

u
e
h
u
e
d
c
b
a

In [ ]:
s="abcdeuheu"
i = 0
j = len(s) - 1
while(i < len(s)):
  print(s[i], s[j])
  i += 1
  j -= 10

a u
b e
c h
d u
e e
u d
h c
e b
u a

In [ ]:
#compare the value of string
s="abcbd"
i = 0
j = len(s)- 1
while(i < len(s)):
  if(s[i]==s[j]):
    print("true",s[i],s[j])
  else:
    print("false",s[i],s[j])
  i += 1
  j -= 1

false a d
true b b
true c c
true b b
false d a

In [ ]:
#compare the value of string
#method 1
s="abcbd"
i = 0
j = len(s)- 1
while(i <= len(s)// 2):
  if(s[i]==s[j]):
    print("true",s[i],s[j])
  else:
    print("false",s[i],s[j])
  i += 1
  j -= 1
print("------------------")
#method 2
s="abcbd"
i = 0
j = len(s)- 1
while(i <= j):
  if(s[i]==s[j]):
    print("true",s[i],s[j])
  else:
    print("false",s[i],s[j])
  i += 1
  j -= 1

false a d
true b b
true c c
------------------
false a d
true b b
true c c

In [ ]:
#check if a string id palindrome or not
s = "saras"
i = 0
j = len(s)-1
a =0
while(i <= len(s)//2):
  if(s[i] != s[j]):
    a= 1
    break

  i +=1
  j -=1

if(a == 1):
  print("not a palindrome")
else:
  print("palindrome")

palindrome

In [ ]:
# to check whether the string is symmetric or not

s =input("enter a string :")
i = 0
a =0

if(len(s)% 2 == 0):
  j = len(s)//2
else:
  j = (len(s)//2) + 1


while(j < len(s)):
  if(s[i] != s[j]):
    a= 1
    break

  i +=1
  j +=1

if(a == 1):
  print("not symmetric")
else:
  print("symmetric")

enter a string :rajza
not symmetric

In [ ]:
#power
n = int(input("enter a num :"))
pow=int(input("enter it's power:"))

while(pow > 1):
  n *= n
  pow -= 1
print(n)

enter a num :2
enter it's power:4
256

In [ ]:
#Q12
#factors of a num
n = int(input("enter a num :"))
i = 2

while( n >= i):
  if(n % i == 0):
    print(i)
  i+=1

enter a num :15
3
5
15

In [ ]:
#Q13
#factorial
n = int(input("enter a num :"))
fact = 1
while(n != 0):
  fact *= n
  n -= 1
print("factorial of the num :",fact)

enter a num :4
factorial of the num : 24

In [ ]:
#LCM
#Q14

a = 2
b = 15
if(a > b):
  c =a
else:
  c= b

while(True):

  if(c % a == 0 and c % b == 0):
    print("LCM :", c)
    break
  else:
    c += 1

LCM : 30

In [ ]:
#hcf

a = 10
b = 15

if(a < b):
  c = a
else:
  c = b

while(True):
  if(a % c == 0 and b % c == 0):
    print("hcf :", c)
    break
  else:
    c -= 1

hcf : 5

In [ ]:
# anagram
s = input("enter a string :")
s1 = input("enter another string :")
a = 0
if(len(s)==len(s1)):

  for i in range(0,len(s)):
    for j in range(0,len(s1)):
      if(s[i] == s1[j]):
        a += 1
        break
      else :
        j += 1
  if (a == len(s)):
    print("yes")
  else:
    print("not anagram")

else:
  print("not anagram")

enter a string :hey
enter another string :yeho
not anagram

In [ ]:
# square root
num = int(input("enter a num "))
sq = 2
while(sq * sq <= num):
  if(sq * sq == num):
    print(sq)
    break
  sq += 1
else:
    print(f"{num} is not aperfect sq")

enter a num 49
7

In [ ]:
# count the longest non repeating string
s = "abcabcbb"
longest = 0
for i in range(len(s)):

  count = 0
  char = []
  for j in range(i , len(s)):
    if(s[j] in char):
      break
    else:
      char.append(s[j])
      count +=1

  if(longest < count):
    longest = count
print(longest)

3

In [ ]:
# first non reapting element

s = "pwkewp"
for i in range(len(s)):
  count = 0

  for j in range(len(s)):
    if (s[i] == s[j]):
      count+=1

  if(count == 1):
    print(s[i])
    break

k

In [ ]:
#second non reapting element
non_reapting = 0
s = "pwkewp"
for i in range(len(s)):
  count = 0

  for j in range(len(s)):
    if (s[i] == s[j]):
      count+=1

  if(count == 1):
    non_reapting += 1
    if(non_reapting == 2):

      print(s[i])

e

In [ ]:
# print the list of anagrams
l = ["eat", "tea", "tan", "ate", "nat", "bat"]
anagrams = []
for i in range(len(l)):
  for j in range(i+1,len(l)):
    str1 = l[i]
    str2 = l[j]
    if(len(str1) == len(str2) ):
      count = 0
      for n in range(len(str1)):
          for m in range(len(str2)):

            if(str1[n] == str2[m]):
              count+=1
      if(count == len(str1)):

        if([str1,str2] not in anagrams):

          anagrams.append([str1,str2])

print(anagrams)

[['eat', 'tea'], ['eat', 'ate'], ['tea', 'ate'], ['tan', 'nat']]

In [ ]:

l =[3, 4, 7, 1, 2, 9, 8]
pairs =[]
for i in range(len(l)):

  for j in range(i+1,len(l)):

    s = l[i] +l[j]
    pair = [i,j]

    for k in range(j+1,len(l)):

      for p in range(k+1,len(l)):
        pair1 = [k,p]

        if(s== l[k]+l[p]):

          if([pair,pair1] not in pairs):

            pairs.append([pair,pair1])
print(pairs)

[[[0, 2], [3, 5]], [[0, 2], [4, 6]], [[1, 2], [4, 5]]]

In [ ]:
l =[1,2,3,4,5]
target = 9
sub =[]

for i in range(len(l)):
  s = 0
  li= []

  for j in range(i,len(l)):

    s += l[j]
    li.append(l[j])

    if(s > target ):
      break
    elif(s == target):
      sub.append(li)

print(sub)

[[2, 3, 4, 5], [4, 5]]

In [ ]:
l =[3,3,4,2,3]
n = 0

for i in l :
  n +=1

temp = n//2

for i in range(len(l)):

  count = 0
  for j in range(len(l)):

    if(l[i] == l[j]):

      count += 1
if(count > temp):
    print(l[i])

3