In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i, end =" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(6,10):
  for j in range(1,5):
    print(i,end =" ")
  print()

6 6 6 6
7 7 7 7
8 8 8 8
9 9 9 9

In [ ]:
for i in range(7,4,-1):
  for j in range(1,4):
    print(i,end =" ")
  print()

7 7 7
6 6 6
5 5 5

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if(i >= j):
      print(j,end =" ")
    else:
      print(" ",end =" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
temp= 1
for i in range(1,5):
  for j in range(1,5):
    if(i >= j):
      print(temp,end =" ")
      temp+=1
    else:
      print(" ",end =" ")
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
temp = 4
for i in range(1,4):
  for j in range(1,4):
    if(i >= j ):
      print(temp,end = " ")
      temp +=1
    else:
      print(" ",end=" ")
  print()

4
5 6
7 8 9

In [ ]:
temp = 4
for i in range(1,4):
  for j in range(1,4):
    if(i >= j ):
      print(temp,end = " ")
      temp +=2
    else:
      print(" ",end=" ")
  print()

4
6 8
10 12 14

In [ ]:
for i in range(4,0,-1):
  for j in range(1,5):
    if(i >= j):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
temp = 1
for i in range(4,0,-1):
  for j in range(1,5):
    if(i >= j):
      print(temp,end=" ")
      temp += 1
    else:
      print(" ",end=" ")
  print()

1 2 3 4
5 6 7
8 9
10

In [ ]:
for i in range ( 4,0,-1):
  for j in range(1,5):
    if(i >= j):
      if(j % 2 == 0):
        print("0",end = " ")
      else:
        print("1",end=" ")
    else:
      print(" ",end=" ")
  print()

1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(5,1,-1):
  for j in range(5,1,-1):
    if(i >= j):
      print("*",end =" ")
    else:
      print(" ",end=" ")
  print()

* * * *
  * * *
    * *
      *

In [ ]:
temp = 0
for i in range(1,5):
  for s in range(0,temp):
    print(" ",end =' ')
  for j in range(1,5):
    print("*",end= " ")
  temp+=1
  print()

* * * *
  * * * *
    * * * *
      * * * *

In [ ]:
for i in range (1,8):
  for j in range (1,7):
    if(i == 1 or i == 7)or(i == 3 and j == 1)or(i == 5 and j == 1)or(i == 3 and j == 6)or(i == 5 and j == 6):

      print("*", end= " ")
    else:
      print(" ",end=" ")
  print()

* * * * * *

*         *

*         *

* * * * * *

In [ ]:

for i in range(1,6):
  ch = ord("A")
  for j in range(1,6):
    if(i >= j ):
      print(chr(ch),end=" ")
      ch += 1
    else:
      print(" ",end =" ")

  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
ch = ord("A")
for i in range(1,6):

  for j in range(1,6):
    if(i >= j ):
      print(chr(ch),end=" ")
    else:
      print(" ",end ="")


  print()
  ch += 1

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(1,6):

  ch = ord("E") - i + 1

  for j in range(1,6):
    if(i >= j ):
      print(chr(ch),end=" ")
      ch += 1
    else:
      print(" ",end =" ")
  print()

E
D E
C D E
B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    if(i >= j):
      print("*",end =" ")
    else:
      print(" ",end =" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:

for i in range(1,6):
  temp = 1
  for j in range(5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp +=1
    else:
      print(" ",end=" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(6,1,-1):
  temp = 1
  for j in range(6,1,-1):
    if(i >= j ):
      print(temp,end= " ")
      temp+=1
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
for i in range(6,1,-1):
  temp = ord("A")
  for j in range(6,1,-1):
    if(i >= j ):
      print(chr(temp),end= " ")
      temp+=1
    else:
      print(" ",end=" ")
  print()

A B C D E
  A B C D
    A B C
      A B
        A

In [ ]:
temp = 4
for i in range(1,6):
  for s in range(temp ,0,-1):
    print(" ",end=" ")
  for j in range(1,6):
    print("*",end=" ")
  temp-= 1
  print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
temp = 4
for i in range(1,6):
  for s in range(temp ,0,-1):
    print(" ",end=" ")
  for j in range(1,6):
    print(j,end=" ")
  temp-= 1
  print()

        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5
1 2 3 4 5

In [ ]:
temp = 4
for i in range(1,6):
  ch = ord("A")
  for s in range(temp ,0,-1):
    print(" ",end=" ")
  for j in range(1,6):
    print(chr(ch),end=" ")
    ch+=1
  temp-= 1
  print()

        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [ ]:
for i in range(1,5):
  for j in range(4,0,-1):
    if(i >= j ):
      print("*",end= " ")
    else:
      print(" ",end=" ")

  for j in range(2,5):
    if(i >= j):
      print("*",end =" ")
    else:
      print(" ",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
for i in range(1,5):
  for j in range(4,0,-1):
    if(i == j or i == 4):
      print("*",end= " ")
    else:
      print(" ",end=" ")

  for j in range(2,5):
    if(i == j or i == 4):
      print("*",end =" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(j == 1 or i == 5 or i == j):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
for i in range(4,0,-1):
  for j in range(1,5):
    if(i == 4 or i == j or j == 1 ):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * *
*   *
* *
*

In [ ]:
for i in range(4,0,-1):
  for j in range(4,0,-1):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")


  for j in range(2,5):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
for i in range(0,4):
  for j in range(0,4):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

for i in range(3,0,-1):
  for j in range(1,5):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(4,0,-1):
    if(j<=i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

for i in range(3,0,-1):
  for j in range(4,0,-1):
    if(j<=i):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [ ]:
count = 6
for i in range(1,4):
  for j in range(1,i):
    print("-",end=" ")
  for a in range(1,count):
    print("*",end=" ")

  count-=2
  print()

* * * * *
- * * *
- - *

In [ ]:
temp = 1
for i in range(1,5):
  for j in range(5,0,-1):
    if(i >= j ):
      print(temp ,end=" ")
      temp+=1
    else:
      print(" ",end="")
  print()

    1
   2 3
  4 5 6
 7 8 9 10

In [ ]:
for i in range(1,5):
  temp = ord("A")
  for j in range(5,0,-1):
    if(i >= j ):
      print(chr(temp) ,end=" ")
      temp+=1
    else:
      print(" ",end="")
  print()

    A
   A B
  A B C
 A B C D

In [ ]:

for i in range(1,5):
  for j in range(4,0,-1):
    if(i >= j ):
      print("*" ,end=" ")

    else:
      print(" ",end=" ")
  for k in range(2,5):
    if(i >= k ):
      print("*" ,end=" ")
    else:
       print(" ",end=" ")
  print()
for i in range(3,0,-1):
  for j in range (4,0,-1):
    if(i >= j ):
      print("*" ,end=" ")
    else:
      print(" ",end=" ")
  for k in range(2,5):
    if(i >= k ):
      print("*" ,end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
for i in range(1,6):
  temp = 1
  for j in range(1,6):
    if(i >= j):
      print(temp ,end=" ")
      temp+=1
    else:
      print(" ",end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(5,0,-1):
  temp = 1
  for j in range(1,6):
    if(i >= j  ):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  temp = 1
  for j in range(1,6):
    if(i == j or i == 5 or j == 1):
      print(temp ,end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp+=1
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:

for i in range(1,6):
  temp = i
  for j in range(5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp += 1
    else:
      print(" ",end=" ")
  temp-= 2
  for k in range (2,6):
    if(i >= k):
      print(temp ,end=" ")
      temp -= 1
    else:
      print(" ",end=" ")

  print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

        5
      4 5
    3   5
  2     5
1 2 3 4 5

In [ ]:
count  = 0

for i in range(5,0,-1):
  temp = 1 + count
  for j in range(1,6):
    if( j == 1 or i == 5 or i == j  ):
      print(temp ,end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp+=1

  count += 1
  print()

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
for i in range(1,6):
  temp = 1
  for j in range (5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

for i in range(4,0,-1):
  temp = 1
  for j in range (5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
for i in range(5,0,-1):
  temp = 1
  for j in range (5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

for i in range(2,6):
  temp = 1
  for j in range (5,0,-1):
    if(i >= j):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(temp,end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(5,0,-1):
  temp = ord("A")
  for j in range (5,0,-1):
    if(i >= j):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

for i in range(2,6):
  temp = ord("A")
  for j in range (5,0,-1):
    if(i >= j):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i >= k):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")

  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i == 5 or i == 1 or  j == 1 or j == 5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i == 5 or i == 1 or  j == 1 or j == 5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  temp = ord("A")
  for j in range(1,6):
    if(i == 5 or i == 1 or  j == 1 or j == 5):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp+=1
  print()

A B C D E
A       E
A       E
A       E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    if(i == j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i == k):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()


for i in range(4,0,-1):
  for j in range(5,0,-1):
    if(i == j):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(2,6):
    if(i == k):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [ ]:
for i in range(1,6):
  temp = ord("A")
  for j in range(5,0,-1):
    if(i == j ):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp+=1

  for k in range(2,6):
    if(i == k):
      print(chr(temp),end=" ")
      temp+= 1
    else:
      print(" ",end=" ")
      temp+=1
  print()


for i in range(4,0,-1):
  temp = ord("A")
  for j in range(5,0,-1):
    if(i == j):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp==1

  for k in range(2,6):5re54e
    if(i == k):
      print(chr(temp),end=" ")
      temp+=1
    else:
      print(" ",end=" ")
      temp+=1
  print()

        E
      D   F
    C       G
  B           H
A               I
  A           D
    A       C
      A   B
        A

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(4,0,-1):
    if(i >= k ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()


for i in range(4,0,-1):
  for j in range(1,6):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(4,0,-1):
    if(i >= k ):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,6):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(4,0,-1):
    if(i >= k ):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

for i in range(2,6):
  for j in range(1,6):
    if(i >= j ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for k in range(4,0,-1):
    if(i >= k ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *

In [ ]:
newlist = []

for i in range(0,5):
  temp = []
  for k in range(0,5-i-1):
    print(" ",end= "")

  for j in range(0,5):

    if(i >= j ):

      if(j == 0 or j == i):
        print("1",end= " ")
        temp.append(1)

      else:
        x = newlist[i-1][j] + newlist[i-1][k-1]
        print(x,end=" ")
        temp.append(x)

  print()
  newlist.append(temp)
  #print(newlist)

    1
   1 1
  1 2 1
 1 3 2 1
1 4 3 2 1