#set
#set is a built-in data type that stores an unordered collection of unique elements

In [ ]:
myset = set()
print(type(myset))

<class 'set'>

In [ ]:
myset = set({1,2,3,5,4,6,3,9,5})
print(myset)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
# to add one element
myset.add(60)
print(myset)

{1, 2, 3, 4, 5, 6, 9, 60}

In [ ]:
myset.discard(5)
print(myset)

{1, 2, 3, 4, 6, 9, 60}

In [ ]:
# to add multiple values
myset.update([99,88,77])
print(myset)

{1, 2, 3, 4, 6, 9, 77, 88, 99, 60}

In [1]:
s = set({'apple','banana','mango','orange'})
s.add('grape')
s

{'apple', 'banana', 'grape', 'mango', 'orange'}

In [2]:
# remove element from set
s.remove("banana")
s

{'apple', 'grape', 'mango', 'orange'}

In [5]:
# discard elements
s.discard("mango")
s

{'apple', 'grape', 'orange'}

In [ ]:
#union - combine all the values of both the sets
set1={1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#intersection - returns the values which is common in both the sets
set1= {89,32,54}
set2={32,12,67}
set1.intersection(set2)

{32}

In [ ]:
#difference - returns the unique values from set 1 which are not present in set 2
set1={1,2,3}
set2 = {3,4,5}
set1.difference(set2)

{1, 2}

In [ ]:
#symmetric difference - returns the unique value from both the sets
set1= {89,32,54}
set2={32,12,67}
set1.symmetric_difference(set2)

{12, 54, 67, 89}

In [ ]:
#issubset - check if both the sets hold the same data
set1={1,2,3}
set2 = {1,2,3}
set1.issubset(set2)

True

In [6]:
# Add a list of Elements to a Set
num = ({23,56,76,879})
numbers = [32,45,84,98]
num.update(numbers)
num

{23, 32, 45, 56, 76, 84, 98, 879}