#TUPLE
#tuple is immutable and an ordered sequence of elements of different data types

#elements are encolsed in parenthesis

In [ ]:
#TUPLE
mytuple= (10,20,30,40,10,20,60)
mytuple

(10, 20, 30, 40, 10, 20, 60)

In [ ]:
print(type(mytuple))

<class 'tuple'>

In [ ]:
# Tuples are immutable
# mytuple[0] = 1

In [ ]:
t1 = 4,5,6
print(type(t1))

<class 'tuple'>

In [ ]:
t = (5)
t1= (5,)           #Comma makes a tuple, not parentheses
print(type(t))
print(type(t1))

<class 'int'>
<class 'tuple'>

In [ ]:
t = (1, 2, 3)
print(t)
print(t * 2)
print(t + t)
print(len(t) * 2)

(1, 2, 3)
(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)
6

In [ ]:
t = ((1, 2), (3, 4))
print(t * 2 == t + t)

True

In [ ]:
t = (1,'paridhi',2,3,'tuple')
print(t)

(1, 'paridhi', 2, 3, 'tuple')

In [ ]:
mytuple= (10,20,30,40,10,20,60)
mytuple[0]

10

In [ ]:
# Indexing
t = (10, 20, 30, 40,50)
print(t[-1])
print(t[1 + 1])       #t[1+1] ---> t[2] ----->30
print(t[4 - 1])
print(t[7%2])
print(t[2*2])

50
30
40
20
50

In [ ]:
# Scilicing
t = (1,2,3,4,5,6,7,8)
print(t[:])
print(t[3:])
print(t[:4])
print(t[-2:-5])   # step value by default positive

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [ ]:
t = (10,20,30,40,50,60,70,80)
print(t[1::2])
print(t[-1:-5:-2])
print(t[:: -1])
print(t[:7:2])

(20, 40, 60, 80)
(80, 60)
(80, 70, 60, 50, 40, 30, 20, 10)
(10, 30, 50, 70)

In [ ]:
# concate two tuples
t1= (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t1 = (1,2,3,4)
t1 = t1 +(9,7,8)         # here a tuple is not modified as NEW TUPLE is created
print(t1)

(1, 2, 3, 4, 9, 7, 8)

In [ ]:
t = tuple([1, 2, 3])
t += (4, 5)      # creates a new tuple
print(t)

(1, 2, 3, 4, 5)

In [ ]:
t = (98,7,56)
t = t * 3
print(t)

(98, 7, 56, 98, 7, 56, 98, 7, 56)

In [ ]:
t = (1, [2, 3], 4)
t[1].append(5)        # tuples are immutable but list are mutable
print(t)

(1, [2, 3, 5], 4)

In [ ]:
t = (45,67,98)
t1 =((45,67,98))     #t1  -----> contains integers, not tuples
print(t in t1)
print(type(t1))          #t1 is a tuple ---->  But its elements are integers, not tuples
print(45 in t1)
print(45 in t)
print(t + t1)

False
<class 'tuple'>
True
True
(45, 67, 98, 45, 67, 98)

In [ ]:
# FUNCTIONS OF TUPLE
# len() ---> returns the number of elements in tuple
t = (10,20,30,40,50,60,70,80)
print(len(t))

In [ ]:
# count() ---> num of time a given elements appear in tuple
t = (10,20,30,50,10,20)
print(t.count(10))

2

In [4]:
# index() ----> return the index position
t= (10,20,30,40,50,60,70,88,9)
print(t.index(50))
print(t.index(30,2,7))    # start from index 2 to 7 find at which index 30 is present

4
2

In [ ]:
# write a program to accept numbers from user and store it in a tuple
t = ()
i = int(input("enter number of elements :"))
while(i > 0):
  num = int(input("enter any number :"))
  t = t + (num,)
  i -= 1

print(t)

enter number of elements :3
enter any number :12
enter any number :34
enter any number :45
(12, 34, 45)

In [ ]:
# write a program to accept five fruits name from user
fruits = ()
i = 0
while (i <= 5):
  f = input("enter fruit name :")
  fruits = fruits +(f,)
  i += 1

print(fruits)

enter fruit name :apple
enter fruit name :mango
enter fruit name :grapes
enter fruit name :orange
enter fruit name :pineapple
enter fruit name :banana
('apple ', 'mango', 'grapes', 'orange', 'pineapple', 'banana')

In [ ]:
t = (12 , 3 , 45 , 'Hockey','Anil',('a','b'))
print(t[0])
print(t[-1])
print(t[-1::-1])
print(t[4])
print(t[5][1])

12
('a', 'b')
(('a', 'b'), 'Anil', 'Hockey', 45, 3, 12)
Anil
b

In [ ]:
for i in tuple('Paridhi'):
  print(i + i)

PP
aa
rr
ii
dd
hh
ii

In [ ]:
# print(7 in "12345678") --- heree 7 is in string
print("7" in "12345678")

True

In [ ]:
t = (23,32,4,5,6,12,10,7,8,98,23)
print(len(t) + t[-1])
print(t[t.count(23)] + len(t) - 5)    #count(23)---> t[2] ---> 4 + 11 - 5
print(t.count(t[6]))
print(max(t))
print(min(t))
print(t.count(max(t)))

34
10
1
98
4
1

In [5]:
# Tuple Unpacking ----> creating or initializing individual variable from the value of tuple is called it's unpacking
# write a statement to unpack the tuple in diff variable
t = (1,2,3)
(a,b,c) = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# Tuple Unpacking
a, b, c = (1, 2, 3)
a, b, c = c, b, a
print(a, b, c)

3 2 1

In [7]:
# write a program to swap the values of the given tuple
t1 = ("a","b")
t2 = (1 ,2)
t3 = t1
t1 = t2
t2 = t3
print(t1)
print(t2)

(1, 2)
('a', 'b')